
/* Default */
*{
    font-family:sans-serif;
    font-size:15px;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(49, 22, 22);
}


/* Header/Navbar */
.navbar {
    padding: 0;
    background-color: #222831;
}

.navbar ul{
    display: flex;
    padding: 0;
}

.navbar li{
    padding: 7px;
    list-style-type: none;
    
}

.navbar a {
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin: 10px;
}

.navbar a:hover {
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    border-radius: 2px;
    padding: 1px 3px;
    filter: invert(1);
}
/* Header/Navbar */


/* MainContents */


.container  {
    display: flex;
    margin: 20px;
    
}


.box1{
    background-color: rgb(202, 253, 15);
    padding: 10px;
    margin: 1rem;
}
.box2{
    background-color: rgb(108, 134, 4);
    padding: 10px;
    margin: 1rem;
}
.box3{
    background-color: rgb(16, 20, 0);
    padding: 10px;
    margin: 1rem;
}

/* MainContents */


/* Footer */
footer p{
    background-color: #393E46;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 7px;
    text-align: center;
    color: white;
    font-size: 10px;
}
/* Footer */




/* PageResponsive */

@media screen and (max-width:600px){
    footer, header, article{
        width: 100%;
    }
}

/* PageResponsive */