
/* Fonts */
@font-face {
    font-family: 'Hummock';
    src: url('Fonts/Hummock Regular.otf') format('opentype'),
             url('Fonts/Hummock Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Luxnoleg';
    src: url('Fonts/GreaterTheory.otf') format('opentype'),
             url('Fonts/GreaterTheory.ttf') format('truetype');

}

@font-face {
    font-family: 'Quicksand_Light';
    src: url('Fonts/Quicksand_Light.otf') format('opentype');
            

}

@font-face {
    font-family: 'ROTHEFIGHT';
    src: url('Fonts/ROTHEFIGHT.otf') format('opentype');
            

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("Background/REwings.png");
    background-size: cover;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}



/* Header/Navbar */
.navbar {
    padding: 0;
    background-color: rgba(56, 56, 65, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}

.navbar ul{
    display: flex;
    padding: 0;
}

.navbar li{
    padding: 16px;
    list-style-type: none;
    
}

.navbar a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin: 20px;
}

.navbar a:hover {
    background-color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 10px;
    padding: 1rem;
    filter: invert(1);
}
/* Header/Navbar */








/* MainContents */
.container  {
    display: flex;
    margin: 20px;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
     
}
        /* Right-Container */
        .RightContainer {
            background-color:  rgba(56, 56, 65, 0.2);
            padding: 90px;
            width: 90rem;
            height: 30rem;
            margin: 1rem;
            padding: 10px;
        }

                .RightContainer p{
                    color: white;
                }
        /* Right-Container */



        /* Left-Container */
        .LeftContainer {
            padding: 10rem;
            width: 90rem;
            max-width: 100rem;
            height: 30rem;
            margin: 1rem;
            padding: 10px;
            color: white;
        }

                .LeftContainer h1{
                    align-items: center;
                    text-align: center;
                    font-size: 70px;
                    text-align: left;
                    font-family: 'ROTHEFIGHT';
                    letter-spacing: 10px;
                    
                }

                .LeftContainer h2{
                    align-items: left;
                    text-align: left;
                    font-family: 'Hummock' ;
                    font-weight: bold;
                    letter-spacing: 20px;
                    font-size: 30px;
                    text-align: left;
                }

                .LeftContainer h4 {
                    align-items: left;
                    text-align: left;
                    font-family: 'Quicksand_Light';
                    letter-spacing: 10px;
                    font-size: 15px;
                    text-align: left;
                    padding-bottom: 29px;
                }

        .LeftContainer button {
            background-color: white;
            padding: 10px 53px;
            margin: 10px;
            cursor: pointer;
            border-radius: 10px;
        }


        /* Left-Container */



/* MainContents */





/* Footer */
footer p{
    background-color: rgba(56, 56, 65, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 17px;
}
/* Footer */




/* PageResponsive */

@media screen and (max-width:600px){
    footer, header, article{
        width: 100%;
    }
}




/* PageResponsive */